* {
  padding: 0px;
  margin: 0px;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . .";
  border: 10px rgb(57, 95, 221);
  border-style: double;
  border-radius: 25px;
  background-color: rgb(100, 219, 237);
  padding: 20px;
  width: 1000px;
  height: 800px;
  align-content: center;
  margin-right: 60px;
}

body {
  width: auto;
  height: 100lvh;
  background-color: rgb(100, 219, 237);
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  margin-right: 50px;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  font-family: "Lucida Sans", monospace;
  transform: prespective(1000px) translate(-50%, -50%);
  transform: skewY(5deg);
  transition: 5s;
  text-decoration: none;
}
header:hover {
  transform: perspective(1000px) translate(-50%, -50%) rotateY(360deg);
  transform: skewY(-20deg);
  transition: 0.3s;
  text-shadow: 10px -10px 0 rgba(0, 0, 0, 0.7);
  cursor: pointer;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: rgb(111, 100, 237);
}

a:hover {
  text-decoration: none;
}

button {
  width: 100%;
  height: 150px;
  border: 3px solid rgb(100, 219, 237);
  border-radius: 10px;
  font-size: 45px;
}

button:hover {
  border-radius: 100px;
  cursor: pointer;
  transition: 500ms linear;
  transform: rotate(-359deg);
  box-shadow: 0px 0px 10px rgb(111, 100, 237);
}

.card {
  width: 150px;
  height: 150px;
  border: 3px solid rgb(57, 95, 221);
  background-color: rgb(111, 100, 237);
  padding: 10px;
  color: rgba(0, 0, 0, 0.6);
}

.opened {
  background-color: transparent;
}

.matched {
  background-color: transparent;
  border-color: transparent;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: rgba(100, 219, 237, 0.7);
  margin: 15% auto;
  padding: 20px;
  border-width: 15px;
  border-style: double;
  border-color: rgb(111, 100, 237);
  width: 50%;
  border-radius: 25px;
  height: 70%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

p {
  animation: pulse 3s linear infinite;
  font-size: 80px;
  font-family: "Lucida Sans", monospace;
}

@keyframes pulse {
  0% {
    color: rgb(57, 95, 221);
  }
  50% {
    opacity: 0;
  }
  100% {
    color: rgb(111, 100, 237);
  }
}

#Congratulations {
  margin: 35px auto;
  width: 100px;
  height: 100px;
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
  filter: grayscale(100%);
  transition: all 1s ease-in-out; 
  animation: spin 4s linear infinite; 
  cursor: pointer;
}

#Congratulations:hover {
  filter: grayscale(10%);
  transition: 2200ms ease-in-out;
  width: 500px;
  height: 500px;
}

@keyframes spin {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(360deg); 
  }
}

.close {
  color: rgba(111, 100, 237, 0.7);
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 70px;
}

.close:hover,
.close:focus {
  color: rgb(111, 100, 237);
  text-decoration: none;
  cursor: pointer;
}

.refresh {
  color: rgba(111, 100, 237, 0.7);
  font-size: 150px;
  font-weight: bold;
  margin-bottom: 810px;
  margin-left: 15px;
}

.refresh:hover,
.refresh:focus {
  color: rgb(111, 100, 237);
  text-decoration: none;
  cursor: pointer;
}

@keyframes mymove {
  50% {background-color: rgb(57, 95, 221,0.5)};
}

footer {
  display: flex;
  flex-direction: row;
  background-color: rgb(111, 100, 237);
  height: 100lvh;
  width: 100px;
  animation: mymove 3s infinite ease-in-out;
}

#top-right{
  display: flex;
  flex-direction: row;
  background-color: rgb(111, 100, 237);
  height: 100lvh;
  width: 100px;
  animation: mymove 3s infinite ease-in-out;
}
